<article class="post">
  <div class="title">
    <a href="www.google.com" target="_blank">Google</a>
    <span>www.google.com</span>
  </div>
  <div class="meta">
    14 point(s) by {{post.user.username}} on
    {{post.created_at}}
    |
    <a href="/post/{{post.id}}">{{post.comments.length}} 12 comment(s)</a>
  </div>
</article>