<form class="edit-comment-form">
  <div>
    <textarea class="form-control text-center" style="width: 700px;height: 180px;" name="comment-body" id="comment"
      rows="3">{{>comment comment_text}} </textarea>
  </div>
  <button type="submit">Save</button>
  <button type="button" class="btn delete-comment-btn">Delete</button>
</form>

