<link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">

<section class="container flex-row justify-center">
<h3 class="username">{{comment.username}}</h3>
<p>{{comment.comment_text}}</p>


<a href="api/comments/{{id}}"></a><button class="deletebtn deletecommentbtn{{comment.id}}" type="submit"><i
    class="fa fa-trash"></i></button></a>

  </section>

