<link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<div class="post-details">
<h3 class="title">{{post.title}}</h3>
<p class="post-body">{{post.post_description}}</p>
</div>

<h4 class="subtitle">
    <p>What Are Your Thoughts?</p>
  </h4>


<form class="textarea comment-form">
  <div>
    <textarea class="form-control text-center" style="width: 700px;height: 180px;" name="comment-body"
      id="comment" rows="3"></textarea>
  </div>

  <div>
    <button class="btn btn-success" type="submit">add comment</button>
</div>
</form>



{{#each post.comments as |comment|}}
{{> comment}}
{{/each}}




<script src="/javascript/comments.js"></script>
<script src="/javascript/edit-comment.js"></script>
<script src="/javascript/delete-comment.js"></script>